
.collection-item {
    width: 26%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
  
    .image {
      width: 90%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
 

      // height: auto;
    }
  
    .collection-footer {
      width: 90%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 24%;
      }
     
    }
  }



  @media only screen and (max-width: 600px) {
 .image  {
      width: 100%;
      height: auto;
    }
    .collection-item{
      width: 100%;
      
    }
    .collection-footer{
      margin-bottom: 20px;
      font-size: 32px;
    }
  
  }
  @media only screen and (max-width: 768px) {
    .image  {
         width: 100%;
         height: auto;
       }
       .collection-item{
         width: 100%;
         
       }
       .collection-footer{
         margin-bottom: 20px;
         font-size: 32px;
       }
     }
     @media only screen and (max-width: 992px) {
      .image  {
           width: 100%;
           height: auto;
         }
         .collection-item{
           width: 100%;
           
         }
         .collection-footer{
           margin-bottom: 20px;
           font-size: 32px;
         }
       }
       @media only screen and (max-width: 1200px) {
        .image  {
             width: 100%;
             height: auto;
           }
           .collection-item{
             width: 100%;
             
           }
           .collection-footer{
             margin-bottom: 20px;
             font-size: 32px;
           }
         }